/* places */
@import url(./__list/places__list.css);

.places {
    padding-top: 92px;
    padding-bottom: 0;
    padding-right: 148px;
    padding-left: 148px;
    max-width: 984px;
    margin: auto;
  }

  @media screen and (max-width: 1025px) {
    .places {
        padding-right: 48px;
        padding-left: 48px;

    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    .places {
        width: 720px;
        padding-right: 24px;
        padding-left: 24px;
        margin: auto;
    }
}
@media only screen and (min-device-width : 568px) and (max-device-width : 767px) {
    .places {
        padding-left: 24px;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 567px) {
    .places {
        padding-right: 0;
        padding-left: 0;
        margin: 0;
    }
}

}