/* places */
@import url(./__list/places__list.css);

.places {
    padding-top: 92px;
    padding-bottom: 0;
    padding-right: 148px;
    padding-left: 148px;
    max-width: 984px;
    margin: auto;
  }

  @media screen and (max-width: 1025px) {
    .places {
        padding-right: 48px;
        padding-left: 48px;

    }
}

  @media screen and (max-width: 768px) {
    .places {
        width: 720px;
        padding-right: 24px;
        padding-left: 24px;
    }
}

@media screen and (max-width: 425px) {
    .places {
        padding-right: 0;
        padding-left: 0;
        margin: 0;
    }
    
}