
/*******/
/* photo-grid__container */
.photo-grid__container {
    padding: 92px 48px 0 48px;
  }

@media screen and (max-width: 768px) {
    .photo-grid__container {
        padding-right: 24px;
        padding-left: 24px;
    }
}

  @media screen and (max-width: 425px) {
    .photo-grid__container {
        padding: 64px 16px 0 16px;
    }
}