/* cover__subtitle */
.cover__subtitle {
    position: absolute;
    margin-top: 0;
    padding-top: 391px;
    margin-top: 32px;
    max-width: 320px;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
}
 
@media screen and (max-width: 1024px) {
    .cover__subtitle {
        padding-top: 341px;    
    }
}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        margin-top: 0;
        padding-top: 261px;
    }
}

@media only screen and (min-device-width : 624px) and (max-device-width : 767px) {
    .cover__subtitle { max-width: 388px;
        margin-top: 0;
        padding-top: 166px;

    }
}

@media only screen and (min-device-width : 425px) and (max-device-width : 624px) {
    .cover__subtitle {
        max-width: 288px;
        margin-top: 0;
        padding-top: 126px;
        font-size: 14px;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 424px) {
    .cover__subtitle {
        max-width: 288px;
        margin-top: 0;
        padding-top: 106px;
        font-size: 14px;
    }
}