/* footer__links */

.footer__links {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-top: 0;
    padding-left: 0;
}

@media screen and (min-width: 320px) and (max-width: 424px) {
    .footer__links {
        display: flex;
        flex-wrap: wrap;
        width: 168px;
        position: relative;
    }
}
