/* lead__subtitle */
.lead__subtitle {
    width: 620px;
    margin: 32px auto 0;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .lead__subtitle {
        max-width: calc(100% - 48px);
        font-size: calc(100vw * (30/ 767));
        margin-top: 35px;
    }
}

@media screen and (max-width: 425px) {
    .lead__subtitle {
        max-width: 288px;
        font-size: 16px;
        line-height: 1;
        margin: 16px auto;
    }
}
