/* cover */
@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__background/cover__background.css);

.cover {
    position: relative;
    width: calc(100vw - 96px);
    height: calc(100vw * (740 / 1280));
    margin: calc;
    margin: 92px auto 0;
}

@media only screen and (min-device-width : 1024px) and (max-device-width : 1279px) {
    .cover {
        margin-top: 88px;
        width: 100vw;
        height: calc(100vw * (640 / 1024));
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {
    .cover {
        margin-top: 88px;
        width: 100vw;
        height: calc(100vw * (480 / 768));
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 767px) {
    .cover {
        margin-top: 64px;
        width: 100vw;
        height: calc(100vw * (200/ 320));
    }
}










