/* cover__background */
.cover__background{
    background-size: contain;
    background: #2A2C2F;
    opacity: 0.3;
}

@media screen and (max-width: 1024px) {
    .cover__background {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .cover__background {
        margin-left: 0;

    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 567px) {
    .cover__background {
        width: 100%;
    }
}



