/* lead__caption */
.lead__caption {
    max-width: 100%;
    margin-top: 8px;
    font-size: 10px;
    line-height: 1;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .lead__caption {
        margin-left: 24px;
   }
}

@media screen and (max-width: 425px) {
    .lead__caption {
        max-width: 250px;
        font-size: 10px;
        line-height: 1;
        margin-left: 16px;
    }
}

