/* cover__title */
.cover__title {
    position: absolute;
    margin-top: 0;
    width: 656px;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.2;
    text-align: center;
    color: #FFFDFD;
    padding-top: 283px;
}
@media screen and (max-width: 1024px) {
    .cover__title {
        padding-top: 233px;    
    }
}

@media screen and (max-width: 768px) {
    .cover__title {
        max-width: 656px;
        padding-top: 153px;
    }
}

@media only screen and (min-device-width : 625px) and (max-device-width : 768px) {
    .cover__title {
        padding-top: 106px;
        font-size: 52px;
    }
}

@media only screen and (min-device-width : 425px) and (max-device-width : 624px) {
    .cover__title {
        padding-top: 71px;
        font-size: 42px;
    }
}

@media screen and (max-width: 424px) {
    .cover__title {
        padding-top: 51px;
        font-size: 32px;
    }
}