/* place__website */
.place__website {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-self: end;
    margin-bottom: 58px;
}

@media screen and (max-width: 768px) {
    .place__website {
        margin-bottom: 0x;
    }
}
